.product_intro {
  display: block;
}
.product_name {
  float: left;
  margin: 10px 0 10px 0;
  font-size: 24px;
}
.product_rating {
  float: right;
  margin: 10px 0 10px 0;
}
.fa-star,
.fa-star-half-stroke {
  color: #ffc300;
}
.fa-circle-check {
  color: limegreen;
}
.product_info {
  display: block;
  clear: both;
  border-top: 1.5px solid #ececec;
}
.product_onright {
  display: block;
  float: left;
  margin: 20px 0 20px 0;
  padding-right: 40px;
  max-width: 60%;
  height: auto;
  overflow: hidden;
}
.product_onright img {
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 18px;
}
.product_warranty {
  display: block;
  clear: both;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0;
}
.product_warranty li {
  display: block;
  float: left;
  padding: 10px 15px 10px 0;
  max-width: 50%;
  border-bottom: 1px solid lightgrey;
}
.product_onleft {
  display: block;
  float: left;
  width: 40%;
  margin: 20px 0 20px 0;
}
.product_options {
  display: block;
  clear: both;
  margin: 20px 0 20px 0;
}
.product_options ul {
  list-style-type: none;
  display: block;
  overflow: hidden;
}
.product_options li {
  display: block;
  float: left;
  background-color: whitesmoke;
  overflow: hidden;
  width: 22.5%;
  margin-right: 15px;
  border-radius: 12px;
}
.product_options a {
  display: block;
  color: rgb(75, 75, 75);
  text-align: center;
  margin: auto;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.product_options a:hover {
  background-color: rgb(199, 199, 199);
  color: black;
  border-radius: 12px;
}
.product_color {
  display: block;
  float: left;
  margin: 0 0 20px 0;
}
.product_color ul {
  list-style-type: none;
}

.product_color li {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 100%;
}

.product_color img {
  padding: 2px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.product_color li:hover {
  border: 3px solid #0272e3;
}
.product_promo {
  display: block;
  clear: both;
  padding: 6px 10px 6px 10px;
  margin: 20px 0 10px 0;
  border: 1.5px solid lightgray;
  border-radius: 16px;
  background-color: whitesmoke;
}
.product_promo ul {
  list-style-type: none;
}
.product_details {
  display: block;
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 10px;
  border-top: 1px solid lightgrey;
}

.product_details table {
  border-collapse: collapse;
  width: 100%;
}

.cart_button a {
  display: block;
  margin-top: 10px;
  width: 49%;
  padding: 5px;
  border-radius: 16px;
  color: whitesmoke;
  text-align: center;
  overflow: hidden;
}

/*images slidesshow start from here*/

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  top: 150px;
  margin-bottom: auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 12px 0 0 12px;
}
.prev {
  left: 0;
  border-radius: 0 12px 12px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: whitesmoke;
  background-color: #919191;
}

/* Caption text */
.text {
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px 0 0;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
