.grid{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.listsanpham tr td:first-child, .listSanPham tr th {
	text-align: center;
}
.listsanpham {
	margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
}
.listsanpham td {
    border: 1px solid gray;
}
.listsanpham th {
    border: 1px solid gray;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 57px;
    padding-right: 57px;
    background-color:darkseagreen;
    color: white;
}
